body {
  background-color: rgb(138, 206, 200);
}

.container {
  width: 300px;
  margin: 100px auto;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 500px;
    margin: 150px auto;
  }
}
.flag_blue {
  width: 300px;
  height: 60px;
  background-color: rgb(0, 140, 255);
  position: relative;
  border-radius: 10px;
  -webkit-animation-name: flag;
          animation-name: flag;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}
.flag_blue i {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 35px;
  transform: rotate(14deg);
  color: white;
  z-index: 3;
}
.flag_blue .flag_star i:nth-child(1) {
  top: 22px;
  left: 55px;
  font-size: 10px;
  transform: rotate(0);
}
.flag_blue .flag_star i:nth-child(2) {
  top: 32px;
  left: 49px;
  transform: rotate(0);
  font-size: 10px;
}
.flag_blue .flag_star i:nth-child(3) {
  top: 32px;
  left: 61px;
  transform: rotate(0);
  font-size: 10px;
}
.flag_blue .flag_star i:nth-child(4) {
  top: 32px;
  left: 73px;
  transform: rotate(0);
  font-size: 10px;
}
.flag_blue .flag_star i:nth-child(5) {
  top: 22px;
  left: 67px;
  transform: rotate(0);
  font-size: 10px;
}

.flag_blue:hover {
  box-shadow: 2px 2px 9px 3px rgb(124, 124, 233);
}

@-webkit-keyframes flag {
  0% {
    width: 50px;
    height: 60px;
  }
  100% {
    width: 300px;
    height: 60px;
  }
}

@keyframes flag {
  0% {
    width: 50px;
    height: 60px;
  }
  100% {
    width: 300px;
    height: 60px;
  }
}
@media only screen and (min-width: 1024px) {
  @-webkit-keyframes flag {
    0% {
      width: 50px;
      height: 100px;
    }
    100% {
      width: 500px;
      height: 100px;
    }
  }
  @keyframes flag {
    0% {
      width: 50px;
      height: 100px;
    }
    100% {
      width: 500px;
      height: 100px;
    }
  }
}
@media only screen and (min-width: 1024px) {
  .flag_blue {
    width: 500px;
    height: 100px;
    background-color: rgb(0, 140, 255);
  }
  .flag_blue i:nth-child(1) {
    top: 20px;
    left: 15px;
    font-size: 60px;
    transform: rotate(14deg);
  }
  .flag_blue .flag_star i:nth-child(1) {
    top: 30px;
    left: 77px;
    font-size: 15px;
  }
  .flag_blue .flag_star i:nth-child(2) {
    top: 30px;
    left: 100px;
    font-size: 15px;
  }
  .flag_blue .flag_star i:nth-child(3) {
    top: 50px;
    left: 65px;
    font-size: 15px;
  }
  .flag_blue .flag_star i:nth-child(4) {
    top: 50px;
    left: 88px;
    font-size: 15px;
  }
  .flag_blue .flag_star i:nth-child(5) {
    top: 50px;
    left: 111px;
    font-size: 15px;
  }
}
.flag_line-white {
  content: "";
  width: 280px;
  height: 2px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  -webkit-animation-name: line;
          animation-name: line;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

@-webkit-keyframes line {
  0% {
    width: 50px;
    height: 2px;
  }
  100% {
    width: 280px;
    height: 2px;
  }
}

@keyframes line {
  0% {
    width: 50px;
    height: 2px;
  }
  100% {
    width: 280px;
    height: 2px;
  }
}
@media only screen and (min-width: 1024px) {
  .flag_line-white {
    content: "";
    width: 480px;
    height: 5px;
    background-color: white;
  }
}
.flag_line-red {
  content: " ";
  width: 280px;
  height: 2px;
  margin: auto;
  border-radius: 10px;
  background-color: red;
  -webkit-animation-name: line;
          animation-name: line;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}

@keyframes line {
  0% {
    width: 50px;
    height: 2px;
  }
  100% {
    width: 280px;
    height: 2px;
  }
}
@media only screen and (min-width: 1024px) {
  .flag_line-red {
    content: " ";
    width: 480px;
    height: 5px;
    background-color: red;
  }
  @-webkit-keyframes line {
    0% {
      width: 50px;
      height: 5px;
    }
    100% {
      width: 480px;
      height: 5px;
    }
  }
  @keyframes line {
    0% {
      width: 50px;
      height: 5px;
    }
    100% {
      width: 480px;
      height: 5px;
    }
  }
}
.flag_yellow {
  width: 300px;
  height: 60px;
  background-color: rgb(252, 214, 1);
  border-radius: 10px;
  -webkit-animation-name: flag;
          animation-name: flag;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.flag_yellow:hover {
  box-shadow: 2px 2px 9px 3px rgb(252, 214, 1);
}

@media only screen and (min-width: 1024px) {
  .flag_yellow {
    width: 500px;
    height: 100px;
    background-color: rgb(252, 214, 1);
  }
}
.flag_green {
  width: 300px;
  height: 60px;
  background-color: rgb(31, 218, 62);
  border-radius: 10px;
  -webkit-animation-name: flag;
          animation-name: flag;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}

.flag_green:hover {
  box-shadow: 2px 2px 9px 3px rgb(31, 218, 62);
}

@media only screen and (min-width: 1024px) {
  .flag_green {
    width: 500px;
    height: 100px;
    background-color: rgb(31, 218, 62);
  }
}/*# sourceMappingURL=style.css.map */